$clr-primary: #f4f4fb;
$clr-primary-2: #746fd4;
$clr-primary-3: #4c4982;
$black: #303030;
$white: #ffffff;
$gray: #d3d3d3;
$red: #c64242;
$yellow: #e5ab1a;
$shadow: 0 10px 15px rgba(52, 69, 146, 0.1);
$section-max-width: 1200px;
$header-height: 5rem;
$spacing: 0.1rem;
$radius: 0.25rem;
$trans-ease: all 0.4s ease;
$trans-ease-in-out: all 0.25s ease-in-out;

@mixin grid-center {
    display: grid;
    place-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
