$black: rgb(15, 15, 15);
$white: rgb(255, 255, 255);
$gray: rgb(176, 176, 176);
$red: rgb(198, 66, 66);
$spacing: 0.1rem;
$radius: 0.25rem;
$trans-ease: all 0.4s ease;

@mixin grid-center {
    display: grid;
    place-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
