.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    @include for-size(md) {
        grid-template-columns: unset;
    }
    &-header {
        @include sticky($top: 0);
        box-shadow: $shadow;
        background-color: $clr-primary;
        & > div {
            height: $header-height;
            @include flex-between;
            & > button:first-of-type {
                border: none;
                background-color: transparent;
                color: $clr-primary-2;
                font-size: 1.5rem;
                transition: $trans-ease;
                &.active {
                    transform: rotate(90deg);
                }
            }
        }
        @include for-size(xs) {
            h2 {
                display: none;
            }
        }
    }
    .section-center {
        max-width: unset;
        width: 90%;
    }
}
