.jobs-container {
    margin-top: 4rem;
    & > h4 {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
}

.jobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    @media screen and (max-width: 1024px) {
        grid-template-columns: unset;
    }
    &-item {
        border-radius: $radius;
        box-shadow: $shadow;
        background-color: $white;
        &-header {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 2rem;
            align-items: center;
            padding: 1rem 2rem;
            border-bottom: 1px solid $gray;
            div:first-child {
                @include circle(3rem);
                @include grid-center;
                background-color: $clr-primary-2;
                color: $white;
                font-size: 1.2rem;
            }
        }
        &-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            padding: 1rem 2rem;
            div:not(:last-child) {
                display: flex;
                align-items: center;
                column-gap: 1rem;
                svg {
                    color: $clr-primary-3;
                }
            }
            div:last-child {
                justify-self: flex-start;
                padding: 0 0.5rem;
                border: 1px solid $clr-primary-2;
                border-radius: $radius;
                color: $clr-primary-2;
                text-transform: capitalize;
                &.pending {
                    border-color: $yellow;
                    color: $yellow;
                }
                &.declined {
                    border-color: $red;
                    color: $red;
                }
            }
        }
        &-footer {
            display: flex;
            column-gap: 1rem;
            padding: 0 2rem 1rem;
        }
    }
}
