@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import 'config';
@import 'hero';
@import 'dashboard';
@import 'sidebar';
@import 'stats';
@import 'charts';
@import 'jobs';
@import 'pagination';
@import 'page-not-found';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: $clr-primary;
    color: $black;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    letter-spacing: $spacing;
}

h1,
h2 {
    line-height: 1.25;
}

img,
svg {
    display: block;
}

a {
    text-decoration: none;
}

label {
    display: block;
    line-height: 1.25;
}

input,
select {
    background-color: $white;
    color: $black;
    font-size: 1rem;
}

button {
    color: $black;
    font-size: 1rem;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}

.section {
    margin: 4rem 0;
}

.section-center {
    max-width: $section-max-width;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.grid-center {
    @include grid-center;
}

.min-100 {
    min-height: 100vh;
}

.page-100 {
    min-height: calc(100vh - $header-height);
}

.text-link {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: $red;
    text-transform: capitalize;
    font-weight: 500;
}

.btn-container {
    display: flex;
    column-gap: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem;
    border: none;
    border-radius: $radius;
    background-color: $clr-primary-2;
    color: $white;
    text-transform: capitalize;
    letter-spacing: $spacing;
    line-height: 1.25;
    transition: $trans-ease;
    &:hover,
    &:focus {
        filter: brightness(120%);
    }
}

.btn-block {
    @extend .btn;
    width: 100%;
    display: block;
}

.btn-flex {
    @extend .btn;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

@import 'auth-btn';

.navbar {
    box-shadow: $shadow;
    & > div {
        height: $header-height;
        @include flex-between;
    }
}

.form {
    padding: 2rem;
    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $white;
    &-header {
        margin-bottom: 1rem;
    }
    &-field {
        margin-bottom: 1rem;
        label {
            margin-bottom: 0.5rem;
            text-transform: capitalize;
            letter-spacing: $spacing;
        }
        input,
        select {
            width: 100%;
            height: 2.25rem;
            padding: 0 0.5rem;
            border: 1px solid $gray;
            border-radius: $radius;
            &:focus {
                outline: none;
                border-color: $clr-primary-2;
                box-shadow: 0 0 0 1px $clr-primary-2;
            }
        }
    }
    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        align-items: flex-end;
        .form-field {
            margin-bottom: unset;
        }
        @include for-size(lg) {
            grid-template-columns: 1fr 1fr;
        }
        @include for-size(md) {
            grid-template-columns: unset;
        }
    }
}

.auth-form {
    @extend .form;
    max-width: 400px;
    width: 90vw;
    .form-header {
        text-align: center;
    }
    & > button {
        margin-top: 1.5rem;
    }
    & > p {
        margin-top: 1rem;
        text-align: center;
    }
}

.black {
    background-color: $black;
}

.red {
    background-color: $red;
}

.yellow {
    background-color: $yellow;
}
